<h1>File Center</h1>

<div class="row">
<div class="span6">
<div class="graph-container">
<div class="caption">File type [static/dynamic]</div>
<%= content_tag :div, "", id: "stat_file_update_type", style: "height: 150px", data: {filenames: Filename.stat_file_update_type } %>
</div>
</div>
<div class="span6">
<div class="graph-container">
<div class="caption">Download Method [ftp/p2p]</div>
<%= content_tag :div, "", id: "stat_file_download_method", style: "height: 150px", data: {fileversions: Fileversion.stat_file_download_method } %>
</div>
</div>
</div>


<table>
  <tr>
    <th><%= sort_link @search, :name, "Name" %></th>
    <th><%= sort_link @search, :update_type, "Update type" %></th>
    <th><%= sort_link @search, :project_name, "Project" %> </th>
    <th><%= sort_link @search, :last_version, "Last Version" %></th>
    <th><%= sort_link @search, :average_file_size, "Average Size" %></th>
    <th><%= sort_link @search, :last_file_size, "Last Version Size" %></th>
    <th><%= sort_link @search, :update_freq, "Update Freq" %></th>
    <th><%= sort_link @search, :download_times, "Download Times" %></th>
    <th><%= sort_link @search, :update_kb, "Update KB[sum(file_size)]" %></th>
    <th><%= sort_link @search, :download_kb, "Download KB[sum(DT x file_size]" %></th>
  </tr>


<% @filenames.each do |filename| %>
  <tr>
    <td><%= filename.name %></td>
    <td><%= filename.update_type %></td>
    <td><%= filename.project_name %></td>
    <td><%= filename.last_version || 0 %></td>
    <td><%= filename.average_file_size || 0 %></td>
    <td><%= filename.last_file_size  || 0 %></td>
    <td><%= filename.update_freq || 0  %></td>
    <td><%= filename.download_times || 0  %></td>
    <td><%= filename.update_kb || 0  %></td>
    <td><%= filename.download_kb || 0  %></td>
  </tr>
<% end %>

<br />

