<h1>File Center</h1>

<%= content_tag :div, "", id: "stat_file_update_type", style: "height: 150px", data: {filenames: Filename.stat_file_update_type } %>
<%= content_tag :div, "", id: "stat_file_download_method", style: "height: 150px", data: {fileversions: Fileversion.stat_file_download_method } %>

<table>
  <tr>
    <th>Name</th>
    <th>Update type</th>
    <th>Project</th>
    <th>Last Version</th>
    <th>Average Size</th>
    <th>Last Version Size</th>
    <th>Update Freq</th>
    <th>Download Times</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @filenames.each do |filename| %>
  <tr>
    <td><%= filename.name %></td>
    <td><%= filename.update_type %></td>
    <td><%= filename.project.name %></td>
    <td><%= filename.fileversions.last.file_version || 0 %></td>
    <td><%= filename.fileversions.last.file_size  || 0 %></td>
    <td><%= filename.fileversions.last.file_size || 0 %></td>
    <td><%= filename.fileversions.last.download_times || 0  %></td>
    <td><%= filename.fileversions.inject(0){ |sum, e| sum + e.download_times } || 0  %></td>
    <td><%= link_to 'Show', filename %></td>
    <td><%= link_to 'Edit', edit_filename_path(filename) %></td>
    <td><%= link_to 'Destroy', filename, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Filename', new_filename_path %>
